
.home__header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
} 
.home__headerLeft{
    display: flex;
    align-items: center;
}
.home__headerLeft a {
    margin-right: 20px;
    font-size: 15px;
    color: black;
    
}

.home__headerRight{
    display: flex;
    align-items: center;

}

.home__headerRight a {
    margin-right: 20px;
    font-size: 15px;
    color: black;
}


.home__headerRight svg{
    margin-right: 20px;
    display: block;
    height: 25px;
    width: 25px;
}

.home__headerRight .avatar_icon{
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

.home__headerRight .Apps_icon{
    color: #5f6368;
    opacity: 1;
}