.home{
    display: flex;
    flex-direction: column;
    height: 100vh; 
}
.home__body{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

.home__body img{
    object-fit: contain;
    height: 100px;
}
